@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 640px) {
  .circle_ring {
    background-image: url(../src/assets/bg-pattern.svg);
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    height: 449px;
  }
}
@media (max-width: 639px) {
  .circle_ring {
    background-image: url(../src/assets/bg-pattern.svg);
    background-position: top;
    background-size: 100% 30rem;
    background-repeat: no-repeat;
    min-height: 449px;
  }
}
