@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.circle_ring {
  background-image: url(../src/assets/bg-pattern.svg);
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
  height: 449px;
}
